header {
    text-align: center;
}

section {
    margin: 20px 20px 0px 20px;
    padding: 0px 20px 20px 20px;
    border: 1px solid #ccc;
    border-radius: 16px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Dekorasi Buku: BookIitem */
.book {
    background-color: #d7d7d7;
    padding: 5px 10px 10px 10px;
    border-radius: 10px;
    width: 500px;
    margin-bottom: 10px;
}
.book button {
    margin: 0px 1px;
}